{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        <p class="article-content"> This site is all about snorren. Snorrentijd, Dutch for Mustache Time, offers the opportunity to give snorren to everyone. Those hairy objects between someone's upper lip and nose are only available for a small subset of the population, determined by birth. With today's movement to a more inclusive society, this is my contribution to make snorren available for everyone!

            The code for this project can be found here: <a href="https://github.com/Spoetnik1/SnorrenTijd">https://github.com/Spoetnik1/SnorrenTijd</a>
        </p>
    </div>
</article>

{% endblock content %}
