<div class="content-section">
    <form id="upload-image" method="post" enctype="multipart/form-data">
        <legend class="border-bottom mb-4">Submit Image to Add Mustaches To</legend>
        <fieldset>
            <label for="file">Select a file</label>
            <input name="file" type="file" id="image-uploader" accept="image/jpeg, image/png, image/jpg">
            <div id="picture-error" class="invalid-feedback"></div>
        </fieldset>
        <fieldset>
            <button id="upload-image-btn" type="button" class="btn btn-outline-info">Add Snorren!</button>
        </fieldset>
    </form>
</div>


<script>

    // For the loading animation modal
    $body = $("body");

    // Events for the loading animation
    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
        ajaxStop: function() { $body.removeClass("loading"); }    
    });

    // This displays the uploaded picture
    document.getElementById('image-uploader').addEventListener('change', readURL, true);
    function readURL(){
        var file = document.getElementById('image-uploader').files[0];
        var reader = new FileReader();

        reader.onloadend = function(){
            document.getElementById('resultImage').src = reader.result;
        }
        if(file){
            reader.readAsDataURL(file);
        }else{
        }
    };
</script>